%table.table
  %thead
    %tr
      %th #
      %th Entry
    %tbody
      - data.each_with_index do |entry, index|
        %tr
          %td
            = index + 1
          %td
            = entry.entry
%a(href='/new' class="btn btn-warning") Enter New Data
